.shimmer {
    background: linear-gradient(to right, #e0e0e0, #f4f4f4, #e0e0e0); 
    margin-bottom: 8px;
}

.shimmer.book-image {
    width: 150px;
    height: 200px;
}

.shimmer.book-title {
    width: 60%;
    height: 35px;
}

.shimmer.book-author {
    width: 100px;
    height: 15px;
}

.shimmer.book-rating, .shimmer.book-price {
    width: 50px;
    height: 15px;
}