.header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  height: 100px;
  align-items: center;
  font-size: 30px;
}
.search-bar {
  width: 500px;
  border: 1px orange solid;
  border-radius: 5px;
  display: flex;
  height: 40px;
}
.search-input {
  border: 0;
  margin: 2px;
  padding: 5px;
  width: 100%;
}

